doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Tabla Responsive
		link(rel="shortcut icon", href="assets/icons/puri-logo.svg", type="image/x-icon")
		link(rel="stylesheet", href="css/styles.css")
	body 
		header.main-header 
			.layout 

		main.main
			.layout 
				h2(class="title") Tabla responsive

				section
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis omnis earum autem
						|accusamus, temporibus laborum odit dignissimos reprehenderit laudantium quia expedita,
						|tempora labore fuga, esse minus tenetur unde voluptatum! Autem.

				.table-container
					table(class="table")
						thead(class="table__header")
							tr(class="table__row")
								td(class='table__head') id
								td(class='table__head') Nombre
								td(class='table__head') Apellido
								td(class='table__head') Email
								td(class='table__head') Telefono
								td(class='table__head')
								td(class='table__head')
							
						tbody(class="table__body")
							tr(class="table__row")
								td(class='table__data') 1
								td(class='table__data') Pedro
								td(class='table__data') Purihuaman
								td(class='table__data') pedropurihuaman@gmail.com
								td(class='table__data') 963420132
								td(class='table__data') 
									a(href="#" class='button button-update') Update
								td(class='table__data')
									a(href="#" class='button button-delete') Delete

							
							tr(class="table__row")
								td(class='table__data') 2
								td(class='table__data') Pedro
								td(class='table__data') Purihuaman Purihuaman
								td(class='table__data') pedropurihuaman@gmail.com
								td(class='table__data') 963420132
								td(class='table__data') 
									a(href="#" class='button button-update') Update
								td(class='grid__data')
									a(href="#" class='button button-delete') Delete

							
							tr(class="table__row")
								td(class='table__data') 3
								td(class='table__data') Pedro
								td(class='table__data') Purihuaman
								td(class='table__data') purihuamanpurihuamanpedro@gmail.com
								td(class='table__data') 963420132
								td(class='table__data') 
									a(href="#" class='button button-update') Update
								td(class='table__data')
									a(href="#" class='button button-delete') Delete
	
							tr(class="table__row")
								td(class='table__data') 4
								td(class='table__data') Alison Estrella
								td(class='table__data') Purihuaman
								td(class='table__data') pedropurihuaman@gmail.com

							tr(class="table__row")
								td(class='table__data') 5
								td(class='table__data') Pedro
								td(class='table__data') Purihuaman
								td(class='table__data') pedropurihuamanpurihuaman@gmail.com

							tr(class="table__row")
								td(class='table__data') 6
								td(class='table__data') Pedro
								td(class='table__data') Purihuaman
								td(class='table__data') pedropurihuaman@gmail.com

		footer.main-footer
			.layout 
				p(class='author') Purihuaman Pedro
